.table-container {
    max-height: 400px;
    overflow-y: auto;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.th {
    background-color: #00A6FB;
    color: white;
    text-align: left;
    padding: 12px;
    position: sticky;
    top: 0;
}

.td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.td:nth-of-type(even) {
    background-color: #E9FBFF;
}

.td:last-of-type {
    border-right: none;
}